*, body {
  font-family: "Open Sans", Arial;
  color: #fff;
  font-size: 16px;
}  

h1, h2, h3, h4 {
  font-family: Oswald, Arial;
}

h1, h2 {
  letter-spacing: 6px;
  font-weight: 400;
}

#logo {
  font-size: 165px;
  margin-left: 39px;
}

#wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#header {
  background: url(../img/bg_green.jpg) repeat;
}

#top-menu {
  list-style-type : none;
  margin: 0;
}

#top-menu li {
  height: 20px;
  line-height: 20px;
  padding: 4px 0;
  float: left;
  margin-right: 26px;
  letter-spacing: 6px;
}
