html > *, body {
  font-family: "Open Sans", Arial;
  color: #fff;
  font-size: 14px;
  word-wrap: break-word;
}  

a {
  color: #fff;
}

body {
  background-color: #252525;
}

h1, h2, h3, h4 {
  font-family: Oswald, Arial;
  margin: 0;    
}

h1, h2 {
  letter-spacing: 6px;
  font-weight: 400;
  margin: 50px 0;  
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 18px;
}

#download-button {
  display: block;      
  padding: 18px 14px 16px 18px;
  margin-left: 24px;
  width: 218px;
  text-align: center;
  line-height: 18px;  
  border: 1px solid #fff;
  text-decoration : none;
  font-size: 18px;
  font-weight : 400;
  letter-spacing: 6px;
  font-family: Oswald, Arial;
  margin-bottom: 100px;
}

#download-button:hover {
  color: #219e56;
  background-color: #fff;
}

#header h2 {
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 24px;
}

#header p {
  padding: 0;
  line-height: 24px;
  width: 900px;
  text-align: left;
  margin-left: 24px;
  margin-bottom: 38px;        
}

#logo, #logo a {
  font-size: 165px;
  margin-bottom: 0;
  text-decoration: none;  
}

.content-wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

#header {
  background: url(../img/bg_green.jpg) repeat;
}

#top-menu {
  list-style-type : none;
  margin: 0;
  padding: 0;
}

#top-menu li {
  font-family: Oswald, Arial;    
  font-size: 18px;
  height: 20px;
  line-height: 20px;
  padding: 4px 0;
  float: left;
  margin-right: 26px;
  margin-top: 20px;
  letter-spacing: 6px;
}

#top-menu li a {
  text-decoration: none;
}

#top-menu li a:hover {
  border-bottom: 1px solid #fff;
}

#features {
  background-color: #222824;    
}

#features-container {
  float: left;
  width: 50%;
}

#gears {
  background: url(../img/gears.png) #222824 right 0 no-repeat;
  float: right;
  width: 300px;
  height: 294px;
  margin-top: 130px;
}

.feature-list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px 0;        
}

.feature-list > li {
  background: url(../img/check.png) left center no-repeat;      
  width: 95%;
  margin-bottom: 10px;
  line-height: 24px;    
}

.feature-list > li span {
  line-height: 24px;
  margin-left: 50px;
  padding: 8px;
  background-color: #1B211D;
  width: 100%;
  display: block;
}

#how-it-works {
  background-color: #CDE7C0;
}
            
#how-it-works-text-container {
  margin-top: 50px;
  background-color: #CDE7C0;
  width: 50%;
  float: left;
  color: #000;
  position: relative; /* required for scrollbar plugin */
  height: 736px;
  overflow: hidden;
}

#how-it-works-text {
  float: right;
  width: 480px;
  color: #000;  
  height: 1250px;
}

#how-it-works-text p, #how-it-works-text a {
  line-height: 22px;
  font-size: 14px;
  text-align: justify;
  width: 90%;
  color: #000;
}

#how-it-works-text h3 {
  margin: 4px 0;
}

#how-it-works-text h2 {
  color: #000;  
}

#how-it-works-diagram-container {
  width: 50%;  
  background: url('../img/bg_grey.jpg') repeat;
  float: left;
}

#how-it-works-diagram-wrapper {
  width: 480px;    
  float: left;
}

#how-it-works-diagram {
  margin: 70px auto;  
  width: 429px;
  height: 744px;  
  background: url(../img/workflow.png) no-repeat;
} 

#whats-next {
  background-color: #222824;
}

#arrows {
  background: url(../img/arrows.png) #222824 right 0 no-repeat;
  float: right;
  width: 209px;
  height: 207px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 160px;
}

#installation {
  background-color: #23A65A;
}

#installation h3, #how-it-works-text h3 {
  color: #000;  
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 20px;
}

ul.command-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-indent: 0;
  margin-bottom: 30px;
}

.command-list li {
  height: 50px;
  line-height: 50px;  
}

.number {
  width: 50px;
  height: 50px;
  line-height: 50px;
  float: left;
  text-align: center;
}

.command {
  height: 50px;
  line-height: 50px;
  float: left;
  padding: 0 10px;
  width: 600px;
}

.even .number {
  background-color: #1E8C4D;
}

.odd .number {
  background-color: #1D8548;
}

.odd .command {
  background-color: #219D55;
}

.even .command {
  background-color: #24AB5E;
}

#examples {  
  background: url(../img/bg_light_green.jpg) #CCE6C1;
}

#examples h2 {
  color: #000;
}

.example-title {
  color: #20A75A;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 600; 
}

.example-box {
  border-left: 8px solid #20A75A;
  background-color: #DAF4CD;
  position: relative;  
  min-height: 200px;
  margin-bottom: 40px;
}

.example-box-content {
  padding: 45px 0 0 0;  
  margin-left: 45px;  
}

.example-box-content .command-list {
  margin-bottom: 10px;
}

.example-toggle {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;  
  background-color: #23A65A;
  width: 45px;
  height: 45px;
}

.example-box-content .command {  
  width: 700px;    
  color: #000;   
}

.example-result {    
  display: none;  
  width: 726px;
  padding: 20px;    
  position: relative;
  overflow: hidden;    
}

.json-400 {
  height: 400px!important;
}

.example-box-content .number {
  color: #000;
}

.example-box-content .even .number {
  background-color: #A7DCA8;
}

.example-box-content .odd .number {
  background-color: #94CD9A;
}

.example-box-content .odd .command {  
  background-color: #C2EBBF;  
}

.example-box-content .even .command {  
  background-color: #DEFAD1;  
}

.example-box-content .odd .example-result {
  background-color: #C2EBBF;
}

.example-box-content .even .example-result {  
  background-color: #DEFAD1;  
}

.no-margin-bottom {
  margin-bottom: 0!important;
}

.no-margin-top {
  margin-top:0!important;
}

.example-box-content .command-list li {
  min-height: 50px;
  height: auto!important;
}

.example-box-content .command {
  height: auto!important;
  line-height: 24px;
  min-height: 50px;
}

.example-result pre {
  font-family: "Open Sans";
  margin: 0;
  color: #000;  
}

.file-contents {
  width: 630px;
  padding: 20px;
  color: #fff;
}

.file-contents pre {
  font-family: "Open Sans";
  margin: 0;
  color: #fff;    
}

.odd .file-contents {
  background-color: #219D55;
}

.even .file-contents {
  background-color: #24AB5E;
}

.example-box-content .command.single-line {
  line-height: 50px;
  overflow: hidden;
}

.example-box-content .command-inner {
  width: 4000px;
}

.minus {
  background-image: url(../img/minus.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.plus {
  background-image: url(../img/plus.png);
  background-repeat: no-repeat;
  background-position: center center;
}

#footer {
  background: url('../img/bg_green.jpg');  
  height: 60px;
  line-height: 60px;
}

.small {
  font-size: 14px;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.note {
  background: url(../img/note.png) 0 0 no-repeat;
  width: 220px;
  height: 237px;
  position: absolute;
  top: -80px;
  right: 0;  
}

.note .content {
  margin-top: 34px;
  color: #000;  
  padding: 0 22px;
}